<html>
	<head>
		<title>Sign Up</title>
	</head>
	<body background="{% static '/images/payroll-lg1.jpg' %}">
		<h1 align="center">Sign Up</h1>
		<pre>
		<form action="register.js" method="post" align="center">
		  Email            : <input type="text" name="email" id="email"><br>
		  Password         : <input type="Password" name="password" id="password"><br>
		  Conform Password : <input type="Password" name="password" id="password"><br>
		  <button type="button"  id="signup">Sign Up</button> 
		</form>
		</pre>

		<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
		<script>
		  // Initialize Firebase
		  var config = {
		    apiKey: "AIzaSyD6dkzIUdUAV3y4R4CzVNSevrPatlystb8",
		    authDomain: "financal-assistance.firebaseapp.com",
		    databaseURL: "https://financal-assistance.firebaseio.com",
		    projectId: "financal-assistance",
		    storageBucket: "financal-assistance.appspot.com",
		    messagingSenderId: "373962284760"
		  };
		  firebase.initializeApp(config);
		</script>
		<script type="text/javascript" src="register.js"></script>
	</body>
</html>